<body id="body">
  <div id="header">
    <h2>TODO List</h2>
  </div>
  <div id="message">
    <p>A place to store your todos</p>
  </div>
  <div id="filter">
    <p>***Insert Filter Here***</p>
  </div>
  <div class="todoContainer">
    <div *ngFor="let t of todoList; index as i">
      <p *ngIf="t.complete">
        {{ i + 1 }}. {{ t.task }}
        <button id="removebutton" (click)="removeTask(i)" style="float: right">
          <b>X</b>
        </button>
      </p>
      <p *ngIf="!t.complete">
        {{ i + 1 }}.
        <button id="completebutton" (click)="completeTask()">Complete</button>
        {{ t.task }}
        <button id="removebutton" (click)="removeTask(i)" style="float: right">
          <b>X</b>
        </button>
      </p>
    </div>

    <form #taskForm="ngForm" (ngSubmit)="addTask(taskForm)">
      <br />
      <label id="addyourtodo" for="task">Add your to-do</label>
      <input type="text" name="task" ngModel />
      <br />
      <br />
      <button id="addtaskbutton">Add</button>
    </form>
  </div>
</body>
